body {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(227, 227, 195);
    border-bottom: 6px solid rgb(201, 200, 107);
   
   
}


.temi {
    width: 150px;
    
    
}


/* ctrl + k + c */